.subRedContainer{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.subRedContainer h2 {
    margin: auto;
    margin-bottom: 30px;
}
.subRedTile {
    align-self: left;
}

@media only screen and (max-width: 900px) {
    .subRedContainer {
        padding: 10px;
    }
}