
.mainContainer {
    width: 100%;
    min-height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main {
    width: 74%;
    padding: 0px 40px 0px 40px;
}
aside{
    width: 26%;
    background-color: #FF4500;
}

@media only screen and (max-width: 900px) {
    aside {
        display: none;
    }
    main {
        width: 100%;
        padding: 0px 2.5%;
    }
}