
.mainContainer {
    width: 100%;
    min-height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main {
    width: 74%;
    padding: 40px 40px 0px 40px;
    min-height: 70vh;
    max-height: 100vh;
    overflow: scroll;
}
aside{
    width: 26%;
    background-color: #FF4500;
}
.showModal {
    display: block;
}
.hideModal {
    display: none;
}

@media only screen and (max-width: 900px) {
    .mainContainer {
        flex-direction: column-reverse;
    }
    aside {
        width: 100%;
        height: 50px;
        overflow: hidden;
    }
    main {
        width: 100%;
        padding: 0px 2.5%;
    }
}