*{
  box-sizing: border-box;
  margin: 0px;
  color: white
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, #F8F8F8, #929292);
    min-height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
