/********** CARD CONTAINER ***********/

.cardContainer{
    background: linear-gradient(to bottom right, #485363, #232C3D);
    padding: 30px;
    max-width: 889px;
    width: 100%;
    height: auto;
    border-radius: 7px;
    margin-bottom: 40px;
    transition: all 0.3s;
    flex-direction: row;
    position: relative;
    gap: 30px;
}
@media only screen and (max-width: 1130px){
    .cardContainer {
        flex-direction: column;
        gap: 0px;
        
    }
}
@media only screen and (max-width: 600px){
    .cardContainer {
        padding: 60px 5% 5% 5%;
    }
}


.cardContainer:hover {
    box-shadow: 10px 10px 10px #00000080;
    transition: all 0.1s;
}
.withImage{
    height: auto;
}
.withoutImage {
    height: auto;
    min-height: 339px;
}

.displayNone {
    display: none;
}
.displayFlex {
    display: flex;
}

/********** LEFT SECTION - with image and post info ***********/

.leftInnerContainer{
    flex-direction: column;
    min-width: 400px;
    height: 100%;
}
.postImage{
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 7px;
    box-shadow: 5px 5px 5px #00000080;
    margin-bottom: 25px;
}
.postVideo{
    width: 100%;
    max-width: 550px;
    min-height: 300px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px #00000080;
    margin-bottom: 25px;
}
.postHeader{
    font-size:30px;
    font-weight: 400;
    margin-bottom: 25px; 
}
.postHeader::first-letter{
    text-transform: capitalize;
}
.postMeta {
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 7px;
    width: 100%;
}
.category{
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    background-color: #ff4500;
    padding: 3px;
    width: 80px;
    border-radius: 7px;
    margin: auto 20px auto 0px;
}
.datePost{
    font-size: 11px;
    font-weight: 300;
    margin: auto;
    margin-left: 0px;
    list-style-type: circle;
}
.datePost::before {
    content: "•";
    display: inline-block;
    margin-right: 8px; 
}
.excerpt {
    line-height: 1.5em; 
    max-height: 4.5em; 
    overflow: hidden; 
}
.readMoreLink {
    font-weight: 400;
    font-size: 16px;
    margin-top: auto;
    margin-left: auto;
}  
.readMoreLink:hover{
    color: #ff4500;
    transition: color 0.3s;
    cursor: pointer;
} 
.readMoreLink:active {
    color: white;
    transition: color 0s;
}
.excerptSpan {
    margin-bottom: 30px;
}
@media only screen and (max-width: 1130px) and (min-width: 600px) {
    .leftInnerContainer{
        flex-direction: row;
        gap: 25px;
    }
    .postImage{
        max-width: 40%;
        margin-bottom: 0px;
    }
    .postHeader{
        font-size: 21px;
        margin-top: 60px;
    }
   
}
@media only screen and (max-width: 600px){
  
    .postMeta {
        flex-wrap: wrap;
        gap: 0px;
        
    }
    .leftInnerContainer {
        min-width: 0px;
    }
    .postHeader{
        font-size: 16px;
    }
    .excerpt {
        font-size: 12px;
        line-height: 1em; 
        max-height: 3em; 
    }
    .category {
        margin-right: 5px;
        font-size: 8px;
        padding: 3px 8px;
        width: auto;
    }
    .datePost{
        font-size: 8px;
        margin-right: 50px;
       
    }
    .readMoreLink{
        font-size: 12px;
        margin-left: auto;
        margin-top: 20px;
    }
}

/* User Info */ 

.postUserInfoContainer{
    flex-direction: column;
}
.userInfo{
    gap: 18px;
    align-items: center;
    height: 49px;
    min-width: 114px;
    margin-bottom: 47px;
}

.userInfo img{
    height: 49px;
    width: 49px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #00000080;
}
.userInfo p {
    color: #f8f8f8;
    font-size: 11px;
}

@media only screen and (max-width: 1130px) and (min-width: 600px) {
    .userInfo{
        margin-top: 25px;
        margin-bottom: 30px;
        position: absolute; 
    }
    .userInfoPostHasImage{
        top: 0;
        left: 44%;
    }
    .postWithoutImage{
        top: 0;
    }
    .userInfo img{
        height: 30px;
        width: 30px;
    }
}
@media only screen and (max-width: 600px) {
    .userInfo {
        margin-top: 25px;
        margin-bottom: 15px;
        min-width: 0px;
        position: absolute;
        top: -20px;
        }
    
    .userInfo img{
        height: 25px;
        width: 25px;
    }
}

/* Post info */

.postInfoContainer{
    flex-direction: column;
    gap: 18px;
    width: 250px;
}
.postInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 80px;
    border: 1px solid #ff4500;
    border-radius: 7px;
    background-color:#29262b;
    color: #f8f8f8;
    font-size: 11px;
}
.postInfo:hover{
    cursor: pointer;
}
.postInfo:hover:nth-child(1){
    cursor: default;
}
.postInfo:hover .svg {
    stroke: #f8f8f8;
}
.postInfo:nth-child(2){
    justify-content: start;
    gap: 11px;
    padding-left: 5px;
}
.svg, .voteDown, .voteUp{
   stroke: #FF4500;
   transition: stroke 0.3s ease; 
}
.voteDown:hover, .voteUp:hover {
    cursor: pointer;
    stroke: #f8f8f8;
}

@media only screen and (max-width: 1130px) {
    .postInfoContainer{
        margin-top: 50px;
        flex-direction: row;
        width: auto;
    }
}

@media only screen and (max-width: 600px) {
    .postInfo{
        width: 20%;
        min-width: 100px;
    }
    .postInfoContainer{
        margin-top: 0px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
} 

